@model WebApplication1.ViewModels.JournalViewModel

@{
    ViewBag.Title = "我的記帳本";
    Layout = "~/Views/Shared/_JournalLayout.cshtml";
}

<h2>Index</h2>

<div class="well">
    @*using (Html.BeginForm())*@
    @using (Ajax.BeginForm(new AjaxOptions() { HttpMethod = "POST", Confirm = "確定要寫入記帳本?", UpdateTargetId = "ajaxlist" }))
    {
        @Html.AntiForgeryToken()
        <div class=form-horizontal>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.Label("類別", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.EnumDropDownListFor(d => d.jType, "請選擇", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("金額", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(d => d.Amount, new { @class = "form-control", @placeholder = "金額" })
                    @Html.ValidationMessageFor(d => d.Amount, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("日期", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(d => d.Date, new { @class = "form-control", @placeholder = "日期" })
                    @Html.ValidationMessageFor(d => d.Date, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("備註", new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(d => d.Remark, new { maxlength = 100, @class = "form-control" })
                    @Html.ValidationMessageFor(d => d.Remark, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-8 col-sm-4">
                    <input type="submit" value="送出" class="btn btn-default" />
                </div>
            </div>
        </div>
        @ViewBag.Message
    }
</div>
<div id="ajaxlist">
    @Html.Action("JournalList")
</div>
<p>
    @*Html.ActionLink("Create New", "Create")*@
</p>
